{% extends 'userportal/baseuser.html' %}

{% block body_block %}
  <form method = "POST" action = "/result"> 
    {% csrf_token %}
    <input type= "hidden" id = "result" name = "points" value = "" />
    <input type= "hidden" id = "totalPoints" name = "totalPoints" value = "" />
    <input type= "hidden" id = "skills_result" name = "skills_result" value = "" />
    <button type="submit" id="send-my-url-to-django-button">Done</button>
  </form>
  <div id="sc">score</div>
  <div id="percentage"></div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- <script>
    $(document).ready(function() {
      document.getElementById("result").setAttribute('value', sessionStorage.getItem("score"));
    });
  </script> -->
  

  <script>
    document.getElementById("result").setAttribute('value', sessionStorage.getItem("score"));
    //console.log("hry")
    //sessionStorage.setItem("tot",100);
    var tot=sessionStorage.getItem("tot");
    var achieved_points=sessionStorage.getItem("score");
    //var score=sessionStorage.getItem("score");
    //console.log(tot);
    var per=(achieved_points/tot)*100;
    document.getElementById("sc").innerText="You get "+achieved_points+" out of "+tot+".";
    document.getElementById("percentage").innerText="Precentage Marks: "+per+" %.";
    console.log(achieved_points);

    $("#send-my-url-to-django-button").click(function () {
    $.ajax({
        url: "result",
        type: "POST",
        dataType: "json",
        data: {
        points: achieved_points,
        csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (json) {
        alert("Successfully sent the URL to Django");
        },
    });    
  });
  </script> 

{% endblock %}


