{% extends 'adminportal/base_admin.html'%}

{% block body_block %}
  <form method="post" action="{% url 'edit_question' pos=pos  %}">
    {% csrf_token %}
    <input type="text" name="question" placeholder="Question" value="{{question.Question}}"><br><br>
    <input type="text" name="option_A" placeholder="First Option" value="{{question.Option_A}}"><br><br>
    <input type="text" name="option_B" placeholder="Second Option" value="{{question.Option_B}}"><br><br>
    <input type="text" name="option_C" placeholder="Third Option" value="{{question.Option_C}}"><br><br>
    <input type="text" name="option_D" placeholder="Fourth Option" value="{{question.Option_D}}"><br><br>
    <input type="text" name="correct_answer" placeholder="Correct Answer" value="{{question.Correct_Answer}}"><br><br>
    <input type="text" name="tag" placeholder="Tag" value="{{question.Tag}}"><br><br>

    <input type="submit" value="Update">
    

  </form>

{% endblock %}